.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #4080ff;
  height: 30px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
